<div class="top-buffer"></div>
<div class="container-fluid">
    <div class="row row-centered">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-8 col-md-8 col-centered">
            <h1 class="text-center font-consistent">Company Name</h1>
            <address class="text-center font-consistent">
                1355 Market Street, Suite 900 San Francisco, CA 94103 P: (123) 456-7890
            </address>
            <div class="top-buffer"></div>
            <div class="input-group">
                <textarea [(ngModel)]="review1" class="form-control custom-control" rows="3" cols="120" style="resize:none" placeholder="Review1">
</textarea>
</div>
<div class="top-buffer"></div>
<div class="input-group">
    <textarea [(ngModel)]="review2" class="form-control custom-control" rows="3" cols="120" style="resize:none" placeholder="Review2">
</textarea>
</div>
<div class="top-buffer"></div>
<button (click)="load()" type="button" class="btn btn-primary btn-lg text-center ">Load Data</button>
<button (click)="submit()" type="button" class="btn btn-primary btn-lg text-center ">Submit</button>
</div>
<div class="col-xs-2 col-md-2 col-centered"></div>


</div>
</div>